:root {
    --color1: #f0f0f0;
    --color2: #a1cca5;
    --color3: #8fb996;
    --color4: #709775;
    --color5: #415d43;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.invalid {
    color: crimson;
    text-align: center;
}

.register-form-box,
.login-form-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    margin-top: .5rem;
    background-color: var(--color2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 0 auto 40px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 0;
    gap: 40px;
}

.inputbox {
    position: relative;
    width: 310px;
    border-bottom: 1px solid white;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    font-weight: 600;
    transform: translateY(-50%);
    transition: .4s;
    pointer-events: none;
}

.invalid-field label {
    color: crimson !important;
}

.invalid-field {
    border-bottom: 1px solid crimson !important;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: -10px;
}

.inputbox input {
    width: 100%;
    height: 1.7rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding-left: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--color2) inset;
    -webkit-text-fill-color: white;
}

::-ms-reveal {
    filter: invert(100%);
}

.options {
    color: white;
    margin: -5px auto 25px;
    display: flex;
    justify-content: space-between;
}

.options a {
    color: white;
    text-decoration: none;
}

.options a:hover {
    /*text-decoration: underline;*/
    color: var(--color4);
}

.remember label,
.remember input {
    cursor: pointer;
    user-select: none;
    accent-color: var(--color4);

}

.remember input:hover+label,
.remember label:hover {
    color: var(--color4);
}

button {
    width: 100%;
    max-width: 310px;
    height: 40px;
    background-color: var(--color4);
    color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: var(--color3);
}

.register {
    color: white;
    text-align: center;
}

.register p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.register p a:hover {
    /*text-decoration: underline;*/
    color: var(--color4);
}

.row-button {
    display: flex;
    justify-content: center;
}

.connected,
.connected a {
    color: crimson;
    text-align: center;
    font-size: 1.1rem;
}

.connected a {
    text-decoration: none;
    font-weight: 600;
}

@media all and (min-width: 768px) {
    .register-form-box,
    .login-form-box {
        margin-top: 1rem;
    }
    section {
        margin-top: 1rem;
    }
    
    .row {
        justify-content: space-between;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {
    .register-form-box {
        width: 420px;
    }
}

@media all and (max-width: 575px) {
    .register-form-box {
        width: 300px;
    }

    .inputbox {
        width: 250px;
    }

    .options {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    button {
        width: 250px;
    }
}