section {
    width: 90%;
    margin: auto;
}

.produit {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

img {
    border-radius: 10px;
}

.titre-description {
    font-weight: 600;
}