<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block extrastyles %}{% endblock %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <div class="header-top">
                <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
                <h1><a href="{{ path('main_home') }}">E-commerce</a></h1>
                {% include "inc/nav.html.twig" %}
            </div>
        </header>

        <main>
            {% block body %}{% endblock body %}
        </main>

        <footer>
            <div>&copy;e-commerce {{ "now"|date("Y") }} </div>
        </footer>
    </div>
</body>

</html>