{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1>Erreur 404</h1>

        <div class="error-text">
            La page demandée n'a pas été trouvée.
        </div>
        <div class="error-text">
            <a href="{{ path('main_home') }}">Retour à l'accueil</a>
        </div>
    </section>
{% endblock %}